@import './reset.scss';

body,
html {
	overflow: hidden;
}

#clock,
#date .small-zero,
#date .small-one,
#date .small-two,
#date .small-three,
#date .small-four,
#date .small-five,
#date .small-six,
#date .small-seven,
#date .small-eight,
#day .monday,
#day .tuesday,
#day .wednesday,
#day .thursday,
#day .friday,
#day .saturday,
#day .sunday,
#hours .zero,
#hours .one,
#hours .two,
#hours .three,
#hours .four,
#hours .five,
#hours .six,
#hours .seven,
#hours .eight,
#hours .nine,
#minutes .zero,
#minutes .one,
#minutes .two,
#minutes .three,
#minutes .four,
#minutes .five,
#minutes .six,
#minutes .seven,
#minutes .eight,
#minutes .nine,
#month .small-zero,
#month .small-one,
#month .small-two,
#month .small-three,
#month .small-four,
#month .small-five,
#month .small-six,
#month .small-seven,
#month .small-eight,
#month .small-nine,
#seconds .zero,
#seconds .one,
#seconds .two,
#seconds .three,
#seconds .four,
#seconds .five,
#seconds .six,
#seconds .seven,
#seconds .eight,
#seconds .nine,
#otacon .eyes,
#otacon .stationary {
	background-image: url('../../src/images/sprites.png');
	background-repeat: no-repeat;
	background-size: auto 900px;
}

@import './components/Clock.scss';
@import './components/Otacon.scss';