#clock {
	background-position: 0 0;
	height: 244px;
	width: 392px;
	-webkit-app-region: drag;
}

#date,
#day,
#hours,
#minutes,
#month,
#seconds {
	background-color: #FFFFFF;
}

#date {
	position: absolute;
	top: 28px;
	left: 119px;
	width: 63px;
}

#day {
	position: absolute;
	top: 35px;
	left: 215px;
}

#hours {
	position: absolute;
	left: 35.5px;
	top: 70.7px;
	width: 91px;
}

#minutes {
	position: absolute;
	left: 147px;
	top: 70.7px;
	width: 90px;
}

#month {
	position: absolute;
	left: 56px;
	top: 27px;
}

#seconds {
	position: absolute;
	left: 258px;
	top: 70.7px;
	width: 90px;
}

#hours,
#minutes,
#seconds {
	.second {
		position: relative;
		left: 6px;
	}

	.zero,
	.one,
	.two,
	.three,
	.four,
	.five,
	.six,
	.seven,
	.eight,
	.nine {
		display: inline-block;
		float: left;
		height: 48px;
		width: 42px;
	}

	.zero {
		background-position: 0 -245px;
	}

	.one {
		background-position: -43px -245px;
	}

	.two {
		background-position: -87px -245px;
	}

	.three {
		background-position: -131px -245px;
	}

	.four {
		background-position: -174px -245px;
	}

	.five {
		background-position: -217px -245px;
	}

	.six {
		background-position: -260.5px -245px;
	}

	.seven {
		background-position: -305px -245px;
	}

	.eight {
		background-position: -349px -245px;
	}

	.nine {
		background-position: -393px -244px;
	}
}

#date,
#month {
	.second {
		position: relative;
		left: 7px;
	}

	.small-zero,
	.small-one,
	.small-two,
	.small-three,
	.small-four,
	.small-five,
	.small-six,
	.small-seven,
	.small-eight,
	.small-nine {
		display: inline-block;
		float: left;
		height: 36px;
		width: 28px;
	}

	.small-zero {
		background-position: 0px -299px;
	}

	.small-one {
		background-position: -28 -299px;
	}

	.small-two {
		background-position: -59px -299px;
	}

	.small-three {
		background-position: -90px -299px;
	}

	.small-four {
		background-position: -120px -299px;
	}

	.small-five {
		background-position: -150px -299px;
	}

	.small-six {
		background-position: -180px -299px;
	}

	.small-seven {
		background-position: -210 -299px;
	}

	.small-eight {
		background-position: -239px -299px;
	}

	.small-nine {
		background-position: -269px -299px;
	}
}

#day {
	.monday,
	.tuesday,
	.wednesday,
	.thursday,
	.friday,
	.saturday,
	.sunday {
		height: 22px;
		width: 120px;
	}

	.monday {
		background-position: 1px -341px;
	}

	.tuesday {
		background-position: -120px -341px;
	}

	.wednesday {
		background-position: -242px -341px;
	}

	.thursday {
		background-position: -364px -341px;
	}

	.friday {
		background-position: 5px -365px;
	}

	.saturday {
		background-position: -114px -365px;
	}

	.sunday {
		background-position: -237px -365px;
	}
}