#otacon {
	left: 410px;
	position: relative;
	top: -140px;
	width: 300px;
	-webkit-app-region: drag;

	.stationary {
		background-position: -489px 0;
		height: 447px;
		width: 204px;
	}

	.thumbs-up-1 {
		background-position: 0px -392px;
		height: 448px;
		width: 204px;
	}

	.thumbs-up-2 {
		background-position: -210px -393px;
		height: 448px;
		position: relative;
		left: -41px;
		width: 238px;
	}

	.thumbs-up-3 {
		background-position: -452px -453px;
		height: 447px;
		position: relative;
		left: -42.5px;
		top: -1px;
		width: 238px;
	}

	.eyes {
		height: 28px;
		width: 99px;
		position: absolute;
		left: 21.4px;
		top: 97.5px;

		&.ahead {
			background-position: -692px -30px;
		}

		&.close {
			background-position: -692px -129px;
		}

		&.down_right {
			background-position: -692px -96px;
		}

		&.down_left {
			background-position: -692px 0;
		}

		&.forward {
			background-position: -692px -64px;
		}
	}
}